

@import url('https://fonts.googleapis.com/css?family=Montserrat');

  header{
    width: 960px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat;
    background-color: white;
  }

  main{
      width: 960px;
      height: 2000;
      background-color: white;
      margin: 0 auto;
      font-family: Montserrat;
    }


  footer{
    width: 940px;
    height: 10px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat;
  }

  h1{
    font-size: 60px;
  }

  h2{
    font-size: 19px;
    margin: 0px;
    padding: 0px;
  }

  ul{
    list-style-type: none;
    text-decoration: left;
    text-align: left;

  }

  .bro{
    padding:0px;
    margin: 0px;
    font-size:20px;
    text-align: left;
    margin-left: 120px;
  }

  #grid{
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  #one{
    text-align: left;
    padding 10px;
    margin-top: 20px;
  }

  #degrees{
    
  }


.ingredients{
  text-align: left;
  margin-left: 120px;
  margin-top: 0;
}


  .images {
    display: block;
    margin: 0px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text{
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .title{
    text-align: center;
    padding: 10px;
  }
