

@import url('https://fonts.googleapis.com/css?family=Montserrat');

  header{
    width: 960px;
    height: 60px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat;
    background-color: white;
  }


  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    margin-top: 20px;
    font-family: Montserrat;
  }


  li {
    display:inline;
  }


  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    display:inline;
  }

  li a:hover {
    color: lightblue;
  }


  main{
      width: 960px;
      height: 2000;
      background-color: white;
      margin: 0 auto;
      font-family: Montserrat;
    }


  footer{
    width: 940px;
    height: 10px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat;
  }

  h2{
    font-size: 100px;
    margin: 0 auto;
  }


  #grid2{
    height: auto;
    display: grid;
    grid-template-rows: 480px 480px 480px;
    grid-template-columns: 480px 480px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .images {
    display: block;
    margin: 0px;
    width: 400px;
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .feature {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 960px;
    margin-top: 0px;
  }


  .title{
    text-align: center;
    padding: 10px;
  }

  .format1{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
  }
